{%- style -%}
  .hero__description {
    display: none;
    color: white;
    font-size: 20px;
    font-family: var(--font-body-family);
    font-weight: var(--font-body-weight);
    font-style: var(--font-body-style);
  }

  /* force overwrite from base */
  .typography--h1 {
    font-size: 64px;
  }

  @media only screen and (min-width: 750px) {
    .hero__description {
      display: block;
    }
  }
{%- endstyle -%}

<div class="w-full flex justify-center relative h-128 lg:h-256 overflow-hidden">
  <img
    class="w-full h-full absolute top-0 left-0 object-cover"
    srcset="
      {{ product.metafields.custom.banner_image | image_url: width: 480 }} 480w,
      {{ product.metafields.custom.banner_image | image_url: width: 768 }} 768w,
      {{ product.metafields.custom.banner_image | image_url: width: 1024 }} 1024w,
      {{ product.metafields.custom.banner_image | image_url: width: 1440 }} 1440w,
      {{ product.metafields.custom.banner_image | image_url: width: 1920 }} 1920w,
      {{ product.metafields.custom.banner_image | image_url: width: 2560 }} 2560w
    "
    sizes="
      (max-width: 640px) 100vw,
      (max-width: 1024px) 100vw,
      (max-width: 1440px) 100vw,
      100vw
    "
    src="{{ product.metafields.custom.banner_image | image_url: width: 1920 }}"
    alt="{{ product.title | escape }}"
    width="1920"
    height="1080"
    loading="lazy"
    decoding="async"
  >
  <div class="w-full page-width z-10 flex flex-col justify-center max-md:items-center max-md:text-center">
    <h1 class="typography--h1 !text-white">
      {{ product.title }}
    </h1>
    {{ product.description }}
  </div>
</div>
